@font-face {
	font-family: 'roboto';
	src: local('roboto'), local('Roboto-Regular'),
		url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
		url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
		url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
  font-family: 'roboto-medium';
  src: local('roboto'), local('Roboto-Medium'),
    url('../fonts/roboto/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Medium.woff') format('woff'),
    url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-light';
  src: local('roboto'), local('roboto-light'),
    url('../fonts/roboto/Roboto-Light.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Light.woff') format('woff'),
    url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

